---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

**Winter Doctoral Workshop in Economics (2022)**
UCLouvain Saint-Louis - Bruxelles, December 9, 2022. <br />

**[8th European User Conference for EU-Microdata (2023)](https://www.gesis.org/en/gml/european-microdata/eu-user-conference-8)**
German Microdata Lab, GESIS, Manheim, March 16-17, 2023.<br />

**[Spring Doctoral Workshop in Economics (2023)](https://doctoralworkshop.wordpress.com/)**
UCLouvain, May 26, 2023.<br />

**[EDP Jamboree (2023)](https://www.parisschoolofeconomics.eu/en/research/academic-activity/workshops-and-conferences/edp-jamboree/)**
Paris School of Economics (PSE), June 8-9, 2023.<br />

**[38th AIEL Conference 2023]**(https://www.aiel.it/Home/Events?flag_selected=past)
Italian Association of Labor Economics, Genoa, September 8-9, 2023. 

**[18th Belgian Day of Labour Economists (2023)]**(https://www.aiel.it/Home/Events?flag_selected=past)
National Bank of Belgium, Genoa, October 27, 2023. 

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
